# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Build Outputs
.next/
out/
dist/
build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.tsbuildinfo
next-env.d.ts

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Docker Volumes
mongo-data/
redis-data/

# Unnecessary Files - Documentation and Media
*.doc
*.docx
*.txt
*.png
*.jpg
*.jpeg
*.webm
*.mp4
*.gif
~$*
data/
index.html
